* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.699);
    color: #000000;
    font-family: sans-serif;
}

p.lead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 20px;
}