* {
    padding: 0;
    margin: 0;
    }

body {
    background-color: rgba(141, 135, 135, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(74, 71, 252, 0.76);
    color: #000000;
    font-family: sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 30px;
    flex-direction: column;
}

input {
    min-width: 450px;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(141, 135, 135, 0.1);
}

label {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

select {
    font-family: sans-serif;
    min-width: 450px;
    text-align: center;
    background-color: rgba(141, 135, 135, 0.1);
    margin-bottom: 10px;
}

textarea {
    min-width: 450px;
    margin-bottom: 15px;
    background-color: rgba(141, 135, 135, 0.1);
}

button {
    min-width: 450px;
    font-weight: bold;
    min-height: 25px;
}