{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar compromisso</title>
    <link href="{% static 'css/edit.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Registrar compromisso</h1>
    </header>
    <section>
        <div class="edit">
            <form action="." method="POST">
                
                {% csrf_token %}

                {{ form }}
                
                <a href="{% url 'view' %}">
                    <button type="submit">Editar compromisso</button>
                </a>

            </form>
        </div>
    </section>
</body>
</html>