{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar compromisso</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>


<body>
    <header>
        <h1>Registrar compromisso</h1>
    </header>
    <section>
        <form action="" method="POST">
            
            {% csrf_token %}

            {{ form }}

            <button type="submit" class="btn btn-primary">Registrar compromisso</button>
        </form>
    </section>
</body>
</html>